<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Header | Component</title>
</head>
<body>

    <!-- Header Type1 -->

    <header class="header">
        <div class="header-items">
            <div class="nav-brand">Midori</div>
              <div class="input-icon icons-left">
                <span class="material-icons">search</span> 
                <input class="input" type="" id="" name="" placeholder="search"/> 
              </div>
              <div class="sub-menu"> 
                <button class="btn btn-cta">Login</button>
                <div class="header-icon">
                   <span class="material-icons">shopping_cart</span>                   
                </div>
                <div class="header-icon"> 
                    <span class="material-icons">favorite_border</span>                   
                </div>                         
             </div> 
        </div>
    </header>

    <!-- Header Type2 -->

    <nav class="navigation">
        <div class="nav-brand">Midori</div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inline">
                <a class="link link-active" href="/">Home</a>
            </li>    
            <li class="list-item-inline">
                <a class="link" href="/">Documentation</a>
            </li>
        </ul>
    </nav>
    
</body>
</html>