<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Image | component</title>
</head>
<body>
    <section>
        <div class="image-container">
            <img src="/images/avatar_5.jpg" alt="responsive_img" class="img-responsive">      
        </div>
        <div class="round-image-container">
            <img src="/images/responsive_img.jpg" alt="round_responsive_img" class="img-responsive img-round">
        </div>
        
    </section>
</body>
</html>