<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>utility | Component</title>
</head>
<body>
    <article class="utility-container">

        <!-- Typography(Heading) -->

        <div class="text-utility">
            <h1 class="h1">Headline 1</h1>
            <h2 class="h2">Headline 2</h2>
            <h3 class="h3">Headline 3</h3>
            <h4 class="h4">Headline 4</h4>
            <h5 class="h5">Headline 5</h5>
        </div>

        <!-- Typography(Text) -->
    
        <div class="text-utility">
            <p class="h1">Lorem Ipsum</p>
            <p class="h2">Lorem Ipsum</p>
            <p class="h3">Lorem Ipsum</p>
            <p class="h4">Lorem Ipsum</p>
            <p class="h5">Lorem Ipsum</p>
        </div>

        <!-- Typography(Font Weight) -->
    
        <div class="text-utility">
            <p class="text-light">LIGHT 300</p>
            <p class="text-regular">REGULAR 400</p>
            <p class="text-semibold">SEMIBOLD 600</p>
            <p class="text-bold">BOLD 700</p>
            <p class="text-black">BLACK 900</p>
        </div>

        <!-- Small Text, Gray Text, Center Text -->

        <div class="text-utility">
            <p class="h5">Small Text</p>
            <p class="gray-text">Gray Text</p>
            <p class="center-text">Center Text</p>
        </div>
    </article>   
</body>
</html>
