@import '/components/alert/alert.css';
@import '/components/avatar/avatar.css';
@import '/components/badge/badge.css';
@import '/components/image/image.css';
@import '/components/input/input.css';

:root{
    --alert-error: #f5c0c6;
    --alert-success: #d0f0e1;
    --alert-warning: #f4dfc8;
    --alert-info: #bde3f7;
    --alert-error-outline: #f25b6d;
    --alert-success-outline: #468367;
    --alert-warning-outline: #f4a653;
    --alert-info-outline: #4f91b5;
    --red: red;
    --green: rgb(72, 193, 72);
    --white: white;
    --black: black;
    --input-error-border: 2px solid var(--alert-error-outline);
    --input-success-border: 2px solid var(--alert-success-outline);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}