@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '/components/alert/alert.css';
@import '/components/avatar/avatar.css';
@import '/components/badge/badge.css';
@import '/components/image/image.css';
@import '/components/input/input.css';
@import '/components/button/button.css';
@import '/components/card/card.css';
@import '/components/text-utility/utility.css';
@import '/components/slider/slider.css';
@import '/css/home.css';
@import '/documentation/documentation.css';
@import '/components/header/header.css';
@import '/components/list/list.css';
@import '/components//toast/toast.css';
@import '/components/rating/rating.css';
@import '/components/modal/modal.css';
@import '/components/grid/grid.css';

:root{
    --alert-error: #f5c0c6;
    --alert-success: #d0f0e1;
    --alert-warning: #f4dfc8;
    --alert-info: #bde3f7;
    --alert-error-outline: #f25b6d;
    --alert-success-outline: #468367;
    --alert-warning-outline: #f4a653;
    --alert-info-outline: #4f91b5;
    --red: red;
    --green: rgb(72, 193, 72);
    --white: white;
    --black: black;
    --input-error-border: 2px solid var(--alert-error-outline);
    --input-success-border: 2px solid var(--alert-success-outline);
    --primary-color: #518432;
    --light-primary-color: #6d9b50;
    --raisin-black: #242124;
    --light-raisin-black: #3e393e;
    --grey: rgb(187, 187, 187);
    --hover-grey: rgb(230, 230, 230);
    --btn-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --mango-yellow: #ffcd3c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;    
}
