.container-card {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  flex-wrap: wrap;
}

.vertical-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 16rem;
  width: 100%;
  box-shadow: var(--btn-box-shadow);
}

.img-container {
  max-width: 14rem;
  max-height: 16rem;
  margin: 1rem;
  display: flex;
  flex-wrap: nowrap;
  object-fit: cover;
}

.text_overlay-card {
  opacity: 0.2;
}

.text-overlay {
  display: block;
  position: absolute;
  left: 10%;
  bottom: 50%;
  z-index: 1;
  border: 2px solid var(--black);
  padding: 1rem;
}

.product-description {
  text-align: center;
}

.product-main-heading {
  margin: 0;
}

.product-sub-heading {
  color: var(--light-raisin-black);
  margin: 0.6rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vertical-card .icon {
  color: var(--black);
  position: absolute;
  top: 1.2rem;
  right: 0.3rem;
  cursor: pointer;
}

.text-badge {
  max-width: 8.75rem;
  background-color: var(--black);
  color: var(--white);
  padding: 0.3rem;
  position: absolute;
  top: 1.6rem;
  left: 0.95rem;
}

.icon-dismiss {
  position: absolute;
  left: 0;
  top: 0.2rem;
  cursor: pointer;
}

.product-discount {
  color: var(--red);
}

.text-only-card {
  padding-top: 0.5rem;
}

.text-overlay-wrapper {
  position: relative;
}

.dismiss-card {
  position: relative;
}
