<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Button | component</title>
</head>
<body>

    <!-- Primary & Secondary Buttons -->
   <div class="btn-container">
    <button class="btn">Button</button>
    <button class="btn btn-cta">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
   </div>

   <!-- outline buttons -->
   <div class="btn-container">
      <button class="btn btn-primary-outline">Primary</button>
      <button class="btn btn-secondary-outline">Secondary</button>
    </div>

    <!-- Text Buttons -->
    
    <div class="btn-container">
       <button class="btn btn-text">Primary</button>
    </div>

    <!-- links -->

    <div class="btn-container">
        <a class="btn-link" href="/">
            <span class="material-icons">delete</span>
        </a>
        <a class="btn-link" href="/">
            <span class="material-icons">shopping_bag</span>
        </a>
        <a class="btn-link" href="/">
            <span class="material-icons">favorite</span>
        </a>
        <a class="btn-link btn btn-text" href="/">
            Primary
        </a>
    </div>

    <!-- Icon Button -->

    <div class="btn-container">
        <button class="btn btn-icon">
            <span class="material-icons">delete</span>
            Button
        </button>
        <button class="btn btn-cta btn-icon">
            <span class="material-icons">shopping_bag</span>
            Primary
        </button>
        <button class="btn btn-secondary btn-icon">
            <span class="material-icons">favorite</span>
            Secondary
        </button>
    </div>

    
 <!-- Floating Action Button -->
       
<div class="btn-container">
    <button class="btn btn-cta btn-floating">
        <span class="material-icons">add</span>
    </button>
    <button class="btn btn-cta btn-floating">
        <span class="material-icons">chat_bubble</span>
    </button>
    <button class="btn btn-secondary btn-floating">
        <span class="material-icons">arrow_upward</span>
    </button>
    <button class="btn btn-secondary btn-floating">
        <span class="material-icons">contact_support</span>
    </button>
    
</body>
</html>