<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"> 
      <link rel="stylesheet" href="/style.css">
    <title>avatar | component</title>
</head>
<body>
    <section class="avatar-group">        
            <img src="/images/avatar_1.jpg" alt="avatar" class="avatar">        
            <img src="/images/avatar_2.jpg" alt="avatar" class="avatar">       
            <img src="/images/avatar_3.jpg" alt="avatar" class="avatar">       
            <img src="/images/avatar_4.jpg" alt="avatar" class="avatar">        
            <img src="/images/avatar_5.jpg" alt="avatar" class="avatar">        
            <img src="/images/avatar_6.jpg" alt="avatar" class="avatar">        
    </section>

    <section class="avatar-group">        
            <img src="/images/avatar_1.jpg" alt="avatar" class="avatar avatar-xs">        
            <img src="/images/avatar_2.jpg" alt="avatar" class="avatar avatar-sm">       
            <img src="/images/avatar_3.jpg" alt="avatar" class="avatar avatar-md">       
            <img src="/images/avatar_4.jpg" alt="avatar" class="avatar avatar-lg">       
            <img src="/images/avatar_5.jpg" alt="avatar" class="avatar avatar-xl">
    </section>
</body>
</html>