.avatar-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;  
    max-width: 600px;
    border: 1px solid rgb(223, 218, 218);
}


.avatar{
  display: block;
  object-fit: cover;
  border-radius: 999px; 
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

.avatar-xs{
    width: 2rem;
    height: 2rem;
}

.avatar-sm{
    width: 3rem;
    height: 3rem;
}

.avatar-md{
    width: 4rem;
    height: 4rem;
}

.avatar-lg{
    width: 5rem;
    height: 5rem;
}

.avatar-xl{
    width: 6rem;
    height: 6rem;
}