<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title> slider | component</title>
</head>
<body>
    <div class="slider-container">
        <div class="range-container">
          <span class="range min-range">50</span>
          <span class="range mid-range">150</span>
          <span class="range max-range">250</span>
        </div>
        <input type="range" min="50" max="250" value="150" class="slider">
      </div>
</body>
</html>