<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>list | component</title>
</head>
<body>
    <div>
        <ul>
           <li class="simple_list">Simple List 1</li>
           <li class="simple_list">Simple List 2</li>
           <li class="simple_list">Simple List 3</li>
           <li class="simple_list">Simple List 4</li>
        </ul>
    </div>
    <div class="stacked_list_container">
      <ul>
        <li class="stacked_list">
           <img src="/images/avatar_1.jpg" alt="avatar" class="avatar avatar-sm">
            Notification 1
        </li>
        <li class="stacked_list">
            <img src="/images/avatar_2.jpg" alt="avatar" class="avatar avatar-sm">
             Notification 2
        </li>
        <li class="stacked_list">
            <img src="/images/avatar_3.jpg" alt="avatar" class="avatar avatar-sm">
            Notification 3
        </li>
        <li class="stacked_list">
            <img src="/images/avatar_4.jpg" alt="avatar" class="avatar avatar-sm">
            Notification 4
        </li>
      </ul>
    </div>
        
</body>
</html>