<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>badge | component</title>
</head>
<body>

    <section class="avatar-group">
        <div class="badge">
            <img src="/images/avatar_2.jpg" alt="avatar" class="avatar avatar-sm"> 
            <span class="material-icons badge-icon badge-icon-sm">check_circle</span>
        </div>

        <div class="badge">
            <img src="/images/avatar_3.jpg" alt="avatar" class="avatar avatar-md">  
            <span class="material-icons badge-icon badge-icon-md">circle</span>
        </div>

        <div class="badge">
            <img src="/images/avatar_4.jpg" alt="avatar" class="avatar avatar-lg">
            <span class="material-icons-outlined badge-icon badge-icon-lg">cancel</span>
        </div>

        <div class="badge">
            <img src="/images/avatar_5.jpg" alt="avatar" class="avatar avatar-xl">
            <span class="material-icons badge-icon badge-icon-xl">remove_circle</span>
        </div>
    </section>

    <section class="avatar-group badge-icon-group">
        <div class="badge">
            <span class="material-icons badge-icon">shopping_cart</span>
            <span class="badge-icon notification">1</span>
        </div>
    </section>

</body>
</html>