<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">    
    <link rel="stylesheet" href="/style.css">
    <title>alert | component</title>
</head>
<body>
    <section class="alert-group">
        <div class="alert alert-error">
            <span class="material-icons-outlined">
                error_outline
                </span>
            <p> There was an error processing your request</p>
        </div>
        <div class="alert alert-success">
            <span class="material-icons-outlined">
                check_circle
                </span>
            <p>Data uploaded to the server. Fire on!</p>
        </div>
        <div class="alert alert-warning">
            <span class="material-icons-outlined">
                report_problem
                </span>
            <p>Seems your account is about to expire, upgrade now
            </p>
        </div>
        <div class="alert alert-info">
            <span class="material-icons-outlined">
                info
                </span>
             <p>Sale is going live on January 30th. Get ready!</p>
        </div>
    </section>
</body>
</html>