.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0 1rem;   
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}

.navigation {
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 1rem 1.5rem 0;
    z-index: 3;
    top: 0;
}

.navigation .link {
    color: var(--black);
    font-weight: bold;
}

.nav-pills{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation .nav-brand {
    font-family: 'Comforter', cursive;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    font-size: 2.8rem;
    flex-grow: 1;
}

.navigation .link-active {
    font-weight: bolder;
    background-color: var(--grey);
    padding: 0.7rem;
    border-radius: 0.3rem;
}

.documentation-container{
    display: flex;
    flex-direction: column;
    gap: 20;
}

.header{
    display: flex;
    flex-direction: row;
}  

.hero-heading{
    font-weight: bold;
    padding: 2.5rem 0;
}



.side_bar{    
width: 250px; 
/* height: 100%; */
position: sticky;
overflow-y: auto;
top: 0;
background-color: white;
text-align: center;
height: calc(100vh - 2rem);
color: black; 
}


.sidebar_list{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
align-content: center;
list-style-type: none;  
}

.side_links{
padding: 0.7rem;
width: 140px;
border-radius: 0.3rem;
font-size: 1.5rem; 
text-align: center;   
}

.side_links > a{    
color: black;
text-decoration: none; 
}

.side_links:hover{
background-color: pink;
}


.main_body{
width: 100%; 
 
}

.component-container{
display: flex;
flex-direction: row;
flex-wrap: wrap; 
}


.description-container{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
gap: 20px;
padding: 2rem 1rem;
border-bottom: 1px solid black;
}

/* .code{   
   margin-top: 3rem;  
   width: 100%;
   display: flex;
    align-items: normal;
    justify-content: normal;

}  */

.code-snippet-display{
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 0;
    background-color: #FAFAFA;
   
    overflow: auto;
}
.code-snippet-display iframe{
    width: 100%;
    border: none;   
}